{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<main>
		<section class="section section--component-15">
			<div class="component-15 ">
				<div class="swiper swiper--hero">
					<div class="swiper-wrapper">
						<div class="swiper-slide display-style--full">
							<span name="d.en.633384"></span>
							<div class="component-15__background">
								<picture>
									<source srcset="" media="(min-width: 768px)">
									<img src="/images/uele.png" alt=" Faculté des Sciences Agronomiques">
								</picture>
							</div>
							<div class="component-15__overlay"></div>
							<div class="component-15__gradient component-15__gradient--yellow"></div>
							<div class="component-15__gradient component-15__gradient--blue"></div>
							<div class="component-15__grid-overlay">
								<img src="/images/hero-1.png" alt="overlay image">
							</div>
							<div class="component-15__content">
								<div class="container">
									<h1 class="heading-xxxl">
										Faculté des Sciences Agronomiques</h1>
									<div class="heading-sm">
										<p></p>
									</div>
									<a href="#/study/" class="btn btn-primary">En Savoir plus</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide display-style--full">
							<span name="d.en.635075"></span>
							<div class="component-15__background">
								<img src="/images/Class%20pic%20Patrick.JPG" alt="Étudier chez nous">
							</div>
							<div class="component-15__overlay"></div>
							<div class="component-15__gradient component-15__gradient--yellow"></div>
							<div class="component-15__gradient component-15__gradient--blue"></div>
							<div class="component-15__grid-overlay">
								<img src="/images/uniuele.jpg" alt="overlay image">
							</div>
							<div class="component-15__content">
								<div class="container">
									<h2 class="heading-xxxl">Étudier chez nous</h2>
									<div class="heading-sm">
										<p>
										 	La Faculté propose plusieurs cursus en Agronomies et Environnements. Découvrez l'éventail des programmes de premier cycle proposés dans les domaines de l'agriculture, de l'horticulture, de la foresterie, des sciences de l'alimentation et de la nutrition humaine.
										</p>
									</div>
									<a href="#/study/undergraduateprogrammes/" class="btn btn-primary">Learn More</a>
								</div>
							</div>
						</div>
						<div class="swiper-slide display-style--full">
							<span name="d.en.635076"></span>
							<div class="component-15__background">
								<img src="/images/production_vegetale.jpeg" alt="Msc en Production végétale">
							</div>
							<div class="component-15__overlay"></div>
							<div class="component-15__gradient component-15__gradient--yellow"></div>
							<div class="component-15__gradient component-15__gradient--blue"></div>
							<div class="component-15__grid-overlay">
								<img src="/images/hero-1.png" alt="overlay image">
							</div>
							<div class="component-15__content">
								<div class="container">
									<h2 class="heading-xxxl">Msc en Production végétale</h2>
									<h3 class="heading-md">
										Le Msc en Production végétale est conçu pour vous doter de connaissances de pointe et des compétences nécessaires 
										pour relever les défis et saisir les opportunités de l'industrie alimentaire mondiale.
									</h3>
									<a href="/programmes-master/production-vegetale" class="btn btn-primary">En savoir-plus</a>
								</div>
							</div>
						</div>
					</div>
					<div class="swiper-pagination container"></div>
					<div class="swiper-button-prev">
						<div class="btn btn-navy btn-icon-reverse">
							<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13.5834 26L2.02784 14.4444L0.703762 13L2.02784 11.5556L13.5834 0L16.3519 2.88889L8.04635 11.0741L46.6852 11.0741V14.9259L8.04635 14.9259L16.3519 23.1111L13.5834 26Z" fill="white"></path>
							</svg>
						</div>
					</div>
					<div class="swiper-button-next">
						<div class="btn btn-navy btn-icon">
							<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
							</svg>
						</div>
					</div>
				</div>
			</div>
			<div class="component-15-navigation">
				<ul class="component-15-navigation__list"></ul>
			</div>
		</section>
		<section class="section section--component-12">
			<div class="component-12">
				<div class="component-12__overlay polygon polygon--green-big polygon--navy-big"></div>
				<div class="container">
					<div class="component-12__wrapper">
						<div class="row g-0">
							<div class="col-12 col-lg-4 d-flex">
								<div class="component-12__box flex-1">
									<div class="component-12__head"></div>
									<div class="component-12__extras">
										<div class="component-12__extras--title">
											Comment pouvons-nous vous aider ?
										</div>
										<div class="component-12__dropdown dropdown">
											<button class="btn btn-secondary dropdown-toggle" type="button" id="c12-dropdown-337669" data-bs-toggle="dropdown" aria-expanded="false">Veuillez sélectionner</button>
											<ul class="dropdown-menu" aria-labelledby="c12-dropdown-337669">
												<li>
													<a class="dropdown-item" href="#/programmes-licences/">Programmes de Licences</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/programmes-master/">Programmes de Maitrise</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/recherches/">Recherches</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/about/staff">Professeurs & Chercheurs</a>
												</li>
												<li>
													<a class="dropdown-item" href="#/contact/">Nous Contacter</a>
												</li>
											</ul>
										</div>
									</div>
									<script>
										window.dataLayer = window.dataLayer || [];
										window.dataLayer.push({'event': 'home_drop_loaded'});
									</script>
								</div>
							</div>
							<div class="col-12 col-lg-8">
								<div class="swiper swiper-banner swiper--arrows">
									<div class="swiper-wrapper"></div>
									<div class="swiper-pagination"></div>
									<div class="swiper-button-next">
										<svg xmlns="http://www.w3.org/2000/svg" width="20" height="35" viewbox="0 0 20 35" fill="none">
											<path d="M2.23404 0L18.617 16.383L19.5479 17.5L18.617 18.617L2.23404 35L0 32.766L15.359 17.5L0 2.23404L2.23404 0Z" fill="white"></path>
										</svg>
									</div>
									<div class="swiper-button-prev">
										<svg width="20" height="35" viewbox="0 0 20 35" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M17.3138 0L0.930832 16.383L-1.90735e-05 17.5L0.930832 18.617L17.3138 35L19.5479 32.766L4.18881 17.5L19.5479 2.23404L17.3138 0Z" fill="white"></path>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--ucdcanc-News Headline (component 25) -->
		<section id="h810346" class="section section--component-25 polygon section--grey-lighter polygon--yellow-top-right polygon--blue-bottom-right">
			<span name="d.en.810346"></span>
			<div class="component-25">
				<div class="container">
					<h2 class="component-25__title">Actualités Récentes</h2>
					<div
						class="swiper swiper-gallery swiper--arrows swiper--arrows--navy">
						<!-- Additional required wrapper -->
						<div class="swiper-wrapper">
							{% for article in articles %}
								<div class="swiper-slide">
									<a href="/articles/{{ article.id }}" title="{{ article.title }}">
										<div class="component-25__item">
											<span name="d.en.819764"></span>
											<div class="component-25__item--img ">
												<img src="/uploads/articles/{{ article.primaryImage }}" loading="lazy" alt="{{ article.title }}">
												<span class="component-25__item--date">{{ article.pubDate | date("d") }}<span>{{ article.pubDate | date("M") }}</span>
											</span>
											</div>
											<div class="component-25__item--content">
												<h5 class="component-25__item--title">{{ article.title }}
												</h5>
												<p>{{ article.body }}</p>
											</div>
											<div class="component-25__cta">
												<div class="btn btn-green-bright btn-icon">
													<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
													</svg>
												</div>
											</div>
										</div>
										<!--/.component-25__item-->
									</a>
								</div>
							{% endfor %}
						</div>
						<!--/.swiper-wrapper-->
						<!-- If we need pagination -->
						<div class="swiper-pagination"></div>
						<!-- If we need navigation buttons -->
						<div class="swiper-button-next">
							<svg width="57" height="32" viewbox="0 0 57 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M41.1018 0L55.3241 14.2222L56.9537 16L55.3241 17.7778L41.1018 32L37.6944 28.4444L47.9166 18.3704H0.361084V13.6296H47.9166L37.6944 3.55556L41.1018 0Z" fill="#031231"></path>
							</svg>
						</div>
						<div class="swiper-button-prev">
							<svg width="57" height="32" viewbox="0 0 57 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M15.8982 0L1.67595 14.2222L0.0463219 16L1.67595 17.7778L15.8982 32L19.3056 28.4444L9.08336 18.3704H56.6389V13.6296H9.08336L19.3056 3.55556L15.8982 0Z" fill="#031231"></path>
							</svg>
						</div>
					</div>
					<!--/.swiper-->
					<div class="row">
						<div class="col-12 d-flex justify-content-center">
							<a href="#/actualites/" class="btn btn-primary" title="Go to 'All News' page">Toutes les actualités</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ucdcanc-News Headline -->
		<section id="h337674" class="section section--component-13 polygon polygon--blue-top-left polygon--green-bright-bottom-left">
			<span name="d.en.337674"></span>
			<div class="component-13">
				<div class="container">
					<h2 class="component-13__title"></h2>
					<div class="row">
						<div class="col-12 col-md-6 col-lg-4 d-flex">
							<a href="#/study/undergraduateprogrammes/" title="Go to 'Découvrez l'éventail des programmes de premier cycle proposés dans les domaines de l'agriculture, de l'horticulture, de la sylviculture, des sciences alimentaires et de la nutrition humaine.' page">
								<div class="component-13__item">
									<div class="component-13__item--img">
										<img src="/images/research.jpg" alt="Découvrez l'éventail des programmes de premier cycle proposés dans les domaines de l'agriculture, de l'horticulture, de la sylviculture, des sciences alimentaires et de la nutrition humaine." loading="lazy">
										<span class="component-13__item--tag">Licences</span>
									</div>
									<div class="component-13__item--content">
										<h5 class="component-13__item--title">Découvrez l'éventail des programmes de premier cycle proposés dans les domaines de l'agriculture, de l'horticulture, de la sylviculture, des sciences alimentaires et de la nutrition humaine.</h5>
									</div>
									<div class="component-13__cta">
										<div class="btn btn-blue btn-icon">
											<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!--/.col-->
						<div class="col-12 col-md-6 col-lg-4 d-flex">
							<a href="#/study/graduatetaughtprogrammes/" title="Go to 'En savoir plus sur nos programmes de maitrises' page">
								<div class="component-13__item">
									<div class="component-13__item--img">
										<img src="/images/masterimg.jpeg" alt="En savoir plus sur nos programmes de maitrises" loading="lazy">
										<span class="component-13__item--tag">Master</span>
									</div>
									<div class="component-13__item--content">
										<h5 class="component-13__item--title">En savoir plus sur nos programmes de maitrises</h5>
									</div>
									<div class="component-13__cta">
										<div class="btn btn-blue btn-icon">
											<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!--/.col-->
						<div class="col-12 col-md-6 col-lg-4 d-flex">
							<a href="#/contact/staffprofiles/" title="Go to 'Rencontrez le personnel de la factulté d'agriculture et environement de l'uni uele' page">
								<div class="component-13__item">
									<div class="component-13__item--img">
										<img src="/images/uniuele.jpg" alt="Home3ColSpot_Staff" loading="lazy">
										<span class="component-13__item--tag">Corps Enseignant</span>
									</div>
									<div class="component-13__item--content">
										<h5 class="component-13__item--title">Rencontrez le personnel de la factulté d'agriculture et environement de l'uni uele</h5>
									</div>
									<div class="component-13__cta">
										<div class="btn btn-blue btn-icon">
											<svg width="47" height="26" viewbox="0 0 47 26" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M33.4165 0L44.9721 11.5556L46.2962 13L44.9721 14.4444L33.4165 26L30.648 23.1111L38.9536 14.9259H0.314697V11.0741H38.9536L30.648 2.88889L33.4165 0Z" fill="currentColor"></path>
											</svg>
										</div>
									</div>
								</div>
							</a>
						</div>
						<!--/.col-->
						<!--/.col-->
					</div>
					<!--/.row-->
				</div>
			</div>
		</section>

		<section class="section section--component-5">
			<span name="d.en.632995"></span>
			<div class="component-5">
				<div class="container">
					<h2 class="heading-xl">Faculté des Sciences Agronomiques</h2>
					<address>Université de l'Uele, Isiro, RDC.</address>
					<address>
						T:
						<a href="tel:+243 810 --- ---">+243 810 --- ---</a>
						|
						<a href="https://goo.gl/maps/fhDsLvmvzdjLcniq5" target="_blank" rel="noopener" tabindex="0" title="Go to 'Location Map' page">Location Map<span class="sr-only">(opens in a new window)</span>
						</a>
					</address>
					<ul class="component-5__social">
						<li>
							<a href="#" target="_blank" rel="noopener" tabindex="0" title="Go to 'Facebook' page">
								<i class="lab la-facebook-f"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" rel="noopener" tabindex="0" title="Go to 'Twitter' page">
								<i class="lab la-twitter"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" rel="noopener" tabindex="0" title="Go to 'YouTube' page">
								<i class="lab la-youtube"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" rel="noopener" tabindex="0" title="Go to 'Linkedin' page">
								<i class="lab la-linkedin-in"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
						<li>
							<a href="#" target="_blank" rel="noopener" tabindex="0" title="Go to 'Instagram' page">
								<i class="lab la-instagram"></i>
								<span class="sr-only">(opens in a new window)</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</section>
		<!--/school contact   -->
	</main>
{% endblock %}
