{% extends 'base.html.twig' %}


{% block body %}
	<main>
		<div class="modal fade" id="hero-modal-742934" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="video-embed">
							<iframe src="https://www.youtube-nocookie.com/embed/bLKLBPCkkbY?rel=0&controls=1&showinfo=0&enablejsapi=1" class="video-iframe" title="media player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		<section class="section section--component-16 section--component-16-2">
			<span name="d.en.742934"></span>
			<div class="component-16">
				<div class="component-16__background">
					<img src="/images/Web_Graduate_Research.png" alt="">
				</div>
				<div class="component-16__overlay"></div>
				<div class="component-16__gradient component-16__gradient--yellow"></div>
				<div class="component-16__gradient component-16__gradient--blue"></div>
				<div class="component-16__grid-overlay">
					<img src="/images/Banner.png" alt="overlay image">
				</div>
				<div class="component-16__content">
					<div class="container">
						<h1 class="heading-xxl">Programmes de {{ programType }}</h1>
						<h3 class="heading-md ">
                            Découvrez nos programmes de licence, conçus selon des standards internationaux pour répondre aux enjeux académiques et professionnels actuels. Chaque formation allie rigueur scientifique, compétences pratiques et ouverture sur le monde.
                        </h3>
					</div>
				</div>
			</div>
		</section>
		<section class="section section--breadcrumbs">
			<div class="component-breadcrumb">
				<div class="container">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="/">Accueil</a>
							</li>
							<li class="breadcrumb-item">
								<a href="#">Tout les Programmes</a>
							</li>
							<li class="breadcrumb-item">
                                {% if programType == "Licences" %}
                                    <a href="/study/undergraduateprogrammes/">Programmes de {{ programType }}</a>
                                {% else %}
                                    <a href="/study/graduateprogrammes/">Programmes de {{ programType }}</a>       
                                {% endif %}
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</section>
		<!-- two column content - component 10 -->
		<section class="section section--component-10 polygon polygon--blend-off polygon--yellow-top-left polygon--green-bright-bottom-right">
			<span name="d.en.742949"></span>
			<div class="component-10">
				<div class="container-fluid">
					<div class="row">
						<div id="h742949-l" class="col-12 col-lg">
							<article class="component-10__overlay component-10__overlay--navy">
								<h2 class="component-10__title"></h2>
								<div class="component-10__list">
                                    <p>
									La Maitrise en Sciences de la Production Végétale, MSPV en sigle, est une formation de 2ème cycle dans le Domaine de Sciences Agronomiques et de l'Environnement. Elle conduit au diplôme de Master en « Sciences Agronomiques et de l'Environnement », Mention « Sciences de la Production Végétale».
                                    </p>
                                    METIERS CIBLES
                                    Le diplôme de Bachelor en Sciences Agronomiques et de l'Environnement, Mention
                                    « Sciences Agronomiques » ouvre la voie aux métiers tels que :
                                    - Technicien supérieur en exploitation agricole ou entreprise agroalimentaire
                                    - Gestionnaire/agent de projet de développement
                                    - Technicien/auxiliaire de recherche en production agricole ou technologies postrécole
                                    </p>
								</div>
							</article>
						</div>
                        <div id="h742949-r" class="col-12 col-lg">
                         <article class="component-10__overlay component-10__overlay--blue">
                            <h2 class="component-10__title"></h2>
                            <div class="component-10__list">
                                <p><iframe title="YouTube video player" width="560" height="315" frameborder="0" allowfullscreen="" class="optanon-category-C0004 ot-vscat-C0004 " data-src="https://www.youtube.com/embed/EDIzP1LxtGQ?si=gYcQSUVYX_itYV93"></iframe></p>
                                <p>&nbsp;</p>
                                <p><strong>3 Parcours</strong></p>
                                <p>Production Végétale, Production Animale et Technologies Agroindustrielles</p>
                            </div>
                        </article>
                    </div>
					</div>
				</div>
			</div>
		</section>
		<!--/two column content -->
		<!--ucdcanc-StandardAccordionPanelItem (component 20) -->
		<section id="h370706" class="section section--component-20 ">
			<div class="component-20">
				<div class="container">
					<div class="row">
						<div class="col-12 col-lg-10"></div>
					</div>
					<div class="row">
						<div class="col-12 d-flex">
							<button type="button" class="btn btn-outline-green-bright open-close">
								<span class="open-text">
									Déplier
									<svg width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M14.5327 0.5H9.93273V9.70027H0.732422V14.3003H9.93273V23.5H14.5327V14.3003H23.7324V9.70027H14.5327V0.5Z" fill="currentColor"></path>
									</svg>
								</span>
								<span class="close-text">
									Replier
									<svg width="24" height="24" viewbox="0 0 24 6" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.732422 5.3002V0.700195H23.7324V5.3002H0.732422Z" fill="currentColor"></path>
									</svg>
								</span>
							</button>
						</div>
					</div>
					<div class="accordion">
                        {% for program in programs %}
                            <article class="accordion-item">
                                <span name="d.en.45239{{ loop.index + 5 }}"></span>
                                <h3 class="accordion-header" id="heading45239{{ loop.index + 5 }}">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse45239{{ loop.index + 5 }}" aria-expanded="false" aria-controls="collapse45239{{ loop.index + 5 }}">{{ program.title }}
                                    </button>
                                </h3>
                                <div id="collapse45239{{ loop.index + 5 }}" class="accordion-collapse collapse" aria-labelledby="heading45239{{ loop.index + 5 }}">
                                    <div class="accordion-body">
                                        {{ program.details | raw }}
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
